<header>
  <a href="/"><img class="logo" src="assets/logo.png" alt="logo"></a>
  <nav>
    <ul class="nav__links">
      <li><a href="servicios">Servicios</a></li>
      <li><a href="nosotros">Nosotros</a></li>
    </ul>
  </nav>
  <a class="cta" href="#"><button>Contacto</button></a>
</header>