<!DOCTYPE html>
{{>head}}
{{>header}}


<body>
  <img class="banner" src="assets/banner1.jpg" alt="">
  <h1 class="title">Bienvenido</h1>
  <p class="text">No somos un grupo, somo una familia</p>
  <p class="text">Compromentidos con nuestro trabajos, desde Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    Quasi
    laborum consectetur maiores repudiandae? Fugit obcaecati delectus voluptatibus? Voluptate necessitatibus soluta
    mollitia deserunt animi aperiam maxime excepturi sint error aliquam accusantium hic labore assumenda eum
    laudantium, architecto itaque quo magni consectetur? Minima earum, beatae dicta ducimus dolores sit debitis dolore
    quaerat modi illo aperiam iusto odio possimus adipisci aliquid voluptatibus repudiandae ratione, ullam totam
    commodi! Earum saepe dolorum provident cupiditate minima suscipit dicta repellat molestiae omnis cum delectus,
    incidunt similique. Neque fugit veritatis tenetur, eum nihil omnis doloribus harum temporibus debitis quidem totam
    ea exercitationem saepe dolorum perferendis, commodi amet maiores error suscipit hic numquam excepturi maxime nemo
    ipsam. Ipsa, rerum aliquam? Fugit facilis sed veritatis. Enim atque tempora ea, ipsam optio obcaecati cumque?
    Nihil provident corrupti beatae, voluptatum veniam eum consequatur magni rem reprehenderit architecto eos iste
    molestias explicabo. Deserunt officiis, culpa voluptatem aperiam voluptas est, repellendus qui autem recusandae
    esse atque quasi perspiciatis veniam nemo? Vitae quisquam qui eveniet delectus et totam. Similique nihil voluptate
    quaerat excepturi veniam recusandae non qui repudiandae nisi esse, nam fuga impedit officiis aperiam vero, modi
    molestiae reprehenderit fugit saepe. Iste quidem praesentium dignissimos atque doloribus incidunt culpa veritatis
    at omnis aut, aliquam expedita?</p>
</body>

</html>