<!DOCTYPE html>
{{>head}}
{{>header}}

<body>
  <img class="banner" src="assets/banner2.png" alt="">
  <div class="galery">
    <img class="galery__item" src="assets/java.png" alt="">
    <img class="galery__item" src="assets/logo.png" alt="">
    <img class="galery__item" src="assets/python.png" alt="">
  </div>
  <h1 class="title">Servicios</h1>
  <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, quia eius ducimus expedita facere sint
    nisi atque, voluptas labore porro nobis magni autem fugit sunt iusto, distinctio rem. Repellendus iure, porro hic
    non quasi pariatur natus reprehenderit sint blanditiis labore animi. Quae corporis sint incidunt? Perferendis totam
    culpa nulla iure beatae et distinctio obcaecati molestiae, quibusdam eum at similique delectus asperiores sapiente
    dolorum nisi mollitia magnam blanditiis quasi expedita? Dignissimos accusamus facere cumque! Molestiae at similique
    animi voluptates tempora error, eum nobis dolorem placeat veniam facilis accusamus ea amet nulla maxime autem
    pariatur iste quasi delectus deleniti doloremque temporibus quis. Incidunt voluptate laborum, praesentium
    perferendis, asperiores quisquam sit dicta voluptates pariatur aut natus aliquam facilis laudantium sequi ipsam?
    Laudantium totam veritatis, adipisci fugit unde eligendi pariatur aperiam fugiat suscipit inventore commodi sequi
    ea, ad a impedit officia culpa molestias itaque assumenda est! Aut et corrupti quam dolorem reprehenderit deleniti
    blanditiis perspiciatis officia eligendi accusamus provident suscipit excepturi consequatur error nam placeat ea,
    fuga iste quos libero nihil non iure! Quidem dignissimos eaque repellendus illo alias tempora placeat. Animi id
    dolores magnam vero minima. Quas accusamus sit saepe, minus, qui aperiam laudantium, nesciunt nam facilis dolor
    doloribus at atque! Autem, odit!</p>
  <h2 class="title">Desarrollo de software</h2>
  <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores quo laboriosam vel fuga nam pariatur
    perferendis quaerat? Perferendis nostrum aut illo nihil, eum maiores architecto assumenda minus. Tempora ipsum odio
    numquam inventore quaerat? Exercitationem cumque odio fuga error omnis suscipit iure! Nulla placeat excepturi vitae
    qui voluptatum. Maxime cupiditate molestiae fugit iusto eius aspernatur eaque tenetur minus accusamus dolores
    aperiam, harum corporis tempore quasi, doloremque sunt obcaecati! Voluptas, sit suscipit nulla adipisci et omnis ut
    fuga rerum incidunt doloribus. Eius, enim, iste tempora maxime sit impedit illum a labore cupiditate placeat et
    excepturi possimus, delectus accusantium itaque natus hic! Modi eum voluptatem odit itaque doloremque commodi aut
    fuga nulla temporibus? Voluptatem rerum est deserunt, dicta rem quam, consequatur aperiam tenetur ex voluptates
    soluta aliquam possimus modi fugiat unde corrupti. Laborum sapiente omnis maiores soluta tempora perferendis debitis
    non, tempore ad suscipit ab totam cupiditate nulla autem officiis rem nesciunt a nemo eaque corrupti? Nulla pariatur
    iusto aperiam officia unde dolore quae cum reiciendis et tempore quibusdam fuga sunt repudiandae debitis expedita
    rerum, totam qui? Corrupti suscipit totam rerum dolorem error nemo debitis accusantium facilis adipisci rem
    architecto voluptatem esse cumque nobis porro vitae, quis doloremque nisi quod delectus! Velit, sit?</p>
  <h2 class="title">Consultoria</h2>
  <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate unde tempore tenetur, iusto
    perspiciatis error a dignissimos numquam enim. Quidem porro corrupti doloribus tempora excepturi, officia expedita
    laborum illo quia modi ducimus inventore facilis distinctio maxime! Quidem dolorum dicta vero atque modi error sed
    consectetur labore impedit maxime eos, perspiciatis officiis fuga quasi qui! Quibusdam atque ad, eaque assumenda
    praesentium tenetur. Impedit maxime sequi non optio voluptates cupiditate reiciendis a, expedita consequatur, cumque
    magni nostrum voluptatum dignissimos corporis est nobis voluptatibus beatae unde officia et odit tempore. Alias
    rerum nulla aliquid, quisquam inventore tenetur exercitationem harum labore facilis, temporibus voluptate.</p>
  <h2 class="title">Soporte especializado</h2>
  <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo facere est libero quo voluptas placeat
    maxime
    accusamus iDesarrollo de softwaren itaque atque odit cupiditate nemo sit, ad obcaecati id veritatis dolore
    architecto nisi perferendis cum
    neque. Ea debitis repellat ducimus maiores est commodi molestias iure itaque tempora alias at facilis, porro
    architecto quisquam quo reiciendis. Dicta atque praesentium quis, saepe, ipsam totam ab est nostrum illum eius iste
    aperiam similique quam ducimus eaque pariatur ipsum inventore odit officia laborum! Ipsa consequatur, ratione
    soluta, repellat distinctio ea assumenda reiciendis itaque ullam culpa alias voluptates aperiam dolores obcaecati
    exercitationem amet provident dolorum dolore eos.</p>
</body>