<!DOCTYPE html>
{{>head}}
{{>header}}

<body>
  <img class="banner" src="assets/banner4.png" alt="">
  <div class="galery">
    <div class="galery__item" style="width: 400px">
      <h1 class="title" style="text-align: center ">Nuestro equipo</h1>
      <p class="text" style="font-size: 20px; ">Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Natus, quia eius
        ducimus expedita facere
        sint
        nisi atque, voluptas labore porro nobis magni autem fugit sunt iusto, distinctio rem. Repellendus iure, porro
        hic
        dolores magnam vero minima. Quas accusamus sit saepe, minus, qui aperiam laudantium, nesciunt nam facilis dolor
        doloribus at atque! Autem, odit!</p>
    </div>
    <div class="galery__item" style="width: 400px">
      <h1 class="title" style="text-align: center ">Misión</h1>
      <p class="text" style="font-size: 20px; ">Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Natus, quia eius
        ducimus expedita facere
        sint
        nisi atque, voluptas labore porro nobis magni autem fugit sunt iusto, distinctio rem. Repellendus iure, porro
        hic
        dolores magnam vero minima. Quas accusamus sit saepe, minus, qui aperiam laudantium, nesciunt nam facilis dolor
        doloribus at atque! Autem, odit!</p>
    </div>

    <div class="galery__item" style="width: 400px">
      <h1 class="title" style="text-align: center ">Visión</h1>
      <p class="text" style="font-size: 20px; ">Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Natus, quia eius
        ducimus expedita facere
        sint
        nisi atque, voluptas labore porro nobis magni autem fugit sunt iusto, distinctio rem. Repellendus iure, porro
        hic
        dolores magnam vero minima. Quas accusamus sit saepe, minus, qui aperiam laudantium, nesciunt nam facilis dolor
        doloribus at atque! Autem, odit!</p>
    </div>
  </div>
</body>